/CorsoCucina$Frequenza.class
/Chef.class
/CorsoCucina.class
/InPresenza.class
/Ingrediente.class
/Online.class
/Persona.class
/Ricetta.class
/Ristorante.class
/Sessione.class
/Usa.class
/Utente.class
